<div id="text-hide">
    <h2>Andy TISBA</h2>
    <p>Mail: <strong><a href='mailto:mymail@gmail.com'>mymail@gmail.com</a></strong></p>
    <p>Phone: <strong>+33600000000</strong></p>
</div>

   

<div id="turn"><i class="fas fa-sync-alt"></i></div>

<div id="typing" class="page flex center column">
</div>